body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: darkgreen;
}
h1{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
p{
    font-size: 30px;
    text-align: justify;
}
button{
    color: black;
    background-color: darkgreen;
    transition: color 0.3 ease;
}
button :hover{
    color: white;
}
.navbar{
    display: flex;
    background-color: darkgreen;
    color: black;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}
.logo{
    font-size: 40px;
    font-weight: bolder;
    margin: 0;
}
.nav-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.nav-link li{
    display: flex;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}
.nav-link li a:hover{
    color: white;
}
form{
    justify-content: space-between;
    display: block;
    text-align: center;

}
h2{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
p{
    font-size: 20px;
    text-align: center;
}
.footer{
    text-align: center;
    padding: 20px;
    background-color: black;
    color: darkgreen;
}

.flex-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.progect-box{
    background-color: white;
    color: darkgreen;
    padding: 20px;
    width: 30%;
    margin: 10px 0;
    text-align: center;
}
.about-container{
    display: block;
    align-items: normal;
    gap: 20px;
}
.about-container img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #006400;
}
